.Dictionary h1 {
  font-size: 60px;
  text-decoration: 3px underline #ddd;
  letter-spacing: 10px;

  margin-bottom: 50px;

  color: #fefbf2;
}
.Dictionary .introQuestion {
  color: #ece8d9;
}
.introQuestion {
  color: #faf6e9;
}
.Dictionary .hint {
  color: #c0bfbe85;
}
.Dictionary section {
  background: #f0eacc2c;
  color: #fffdf6;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  font-size: 20px;
  letter-spacing: 4px;
  border-radius: 6px;
  padding: 12px 10px;
  color: #fffdf6;
  background-color: transparent;
  border: 3px dashed #ddd;
}
.Dictionary .introImg {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  filter: grayscale(55%);
}
