.Dictionary h1 {
  font-size: 50px;
  margin-bottom: 50px;
  color: #fefbf2;
}
.Dictionary h2 {
  color: #ece8d9;
}
.introQuestion {
  color: #faf6e9;
}
.Dictionary .hint {
  color: #c0bfbe85;
}
.Dictionary section {
  background: #f0eacc2c;
  color: #fffdf6;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 10px;
  color: #fffdf6;
  background-color: transparent;
  border: 3px dashed #ddd;
}
